<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
</head>
<body ng-app="appNecxo">
    <nav class="navbar navbar-inverse Menu">
        <div class="container">
            <div class="navbar-header col-md-1">
                <a class="navbar-brand" href="#">
                    <img alt="App-Provedores" src="...">
                </a>
            </div>
            <div class="col-md-offset-6 col-md-5">
                <p class="Menu-right"><a href="#" class="navbar-link">Conviértete en Provedor</a></p>
                <p class="Menu-right"><a href="#" class="navbar-link">Inicio de sesión</a></p>
                <p class="Menu-right"><a href="#" class="navbar-link">Regístrate</a></p>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <div class="jumbotron-Box">
                <h1 class="heading">¿Necesitas provedores Para tu negocio?</h1>
                <div class="subhead">
                    Contacta nuevos provedopres para tu negocio en linea
                </div>
                <form action="/courses/search/" class="form  pos-r fxac mb50">
                    <input name="ref" value="home" type="hidden">
                    <div class="search-inp-container ud-search fx">
                        <span class="ui-helper-hidden-accessible" aria-live="polite" role="status"></span>
                        <input name="q" class="search-field form-control quick-search ui-autocomplete-input" placeholder="Encuentra cualquier tipo de producto" autocomplete="off" type="search">
                    </div>
                    <button type="submit" class="home-search-btn">
                        <i class="icon-search"></i>
                    </button>
                </form>
                <ul class="fxjc features">
                    <li class="fxac">
                        <i class="icon-group"></i>
                        <span class="desc">Más de 8 millones de Clientes</span>
                    </li>
                    <li class="fxac">
                        <i class="icon-rocket"></i>
                        <span class="desc">Más de 32.000 Productos</span>
                    </li>
                    <li class="fxac">
                        <i class="icon-mobile-phone"></i>
                        <span class="desc">Ingresa desde cualquier dispositivo</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="Promocion">
            <div id="mi-slider" class="mi-slider">
                <ul>
                    <li><a href="#"><img src="images/1.jpg" alt="img01"><h4>Boots</h4></a></li>
                    <li><a href="#"><img src="images/2.jpg" alt="img02"><h4>Oxfords</h4></a></li>
                    <li><a href="#"><img src="images/3.jpg" alt="img03"><h4>Loafers</h4></a></li>
                    <li><a href="#"><img src="images/4.jpg" alt="img04"><h4>Sneakers</h4></a></li>
                </ul>
                <ul>
                    <li><a href="#"><img src="images/5.jpg" alt="img05"><h4>Belts</h4></a></li>
                    <li><a href="#"><img src="images/6.jpg" alt="img06"><h4>Hats & Caps</h4></a></li>
                    <li><a href="#"><img src="images/7.jpg" alt="img07"><h4>Sunglasses</h4></a></li>
                    <li><a href="#"><img src="images/8.jpg" alt="img08"><h4>Scarves</h4></a></li>
                </ul>
                <ul>
                    <li><a href="#"><img src="images/9.jpg" alt="img09"><h4>Casual</h4></a></li>
                    <li><a href="#"><img src="images/10.jpg" alt="img10"><h4>Luxury</h4></a></li>
                    <li><a href="#"><img src="images/11.jpg" alt="img11"><h4>Sport</h4></a></li>
                </ul>
                <ul>
                    <li><a href="#"><img src="images/12.jpg" alt="img12"><h4>Carry-Ons</h4></a></li>
                    <li><a href="#"><img src="images/13.jpg" alt="img13"><h4>Duffel Bags</h4></a></li>
                    <li><a href="#"><img src="images/14.jpg" alt="img14"><h4>Laptop Bags</h4></a></li>
                    <li><a href="#"><img src="images/15.jpg" alt="img15"><h4>Briefcases</h4></a></li>
                </ul>
                <nav class="mi-slider-Menu ">
                    <a href="#">Shoes</a>
                    <a href="#">Accessories</a>
                    <a href="#">Watches</a>
                    <a href="#">Bags</a>
                </nav>
            </div>
        </div>
        <h3 class="Promocion-Title">Productos Mas Comprados en categoria</h3>
        <div class="Beneficios">
            <p class="Beneficios-Title animated infinite ">Beneficios para tu negocio</p>
            <div class="Beneficios-Item ">
                <div class="Beneficios-content animated zoomInLeft">
                    <i class="Beneficios-icon icon-usd"></i>
                    <span class="Beneficios-ifo">Oportunidades de negocio.</span>
                </div>
                <div class="Beneficios-content animated zoomInLeft">
                    <i class="Beneficios-icon icon-shopping-cart"></i>
                    <span class="Beneficios-ifo">Encuentra provedores para tu negocio.</span>
                </div>
                <div class="Beneficios-content animated zoomInLeft">
                    <i class="Beneficios-icon icon-sitemap"></i>
                    <span class="Beneficios-ifo">Encuentra distriduidores de tus productos.</span>
                </div>
            </div>
        </div>
        <div class="Productos">
            <p class="Productos-Title">Nuevos Productos</p>
            <ul class="Productos-lista">
                <li class="Productos-Item">
                    <a href="" class="Productos-Link">
                        <article class="Productos-articulo">
                            <div class="Productos-img">
                                <img src="images/3.jpg" alt="" />
                            </div>
                            <div class="Productos-info">
                                <p class="Productos-Name">Nombre del Producto</p>
                                <p class="Productos-Provedor">Nombre de provedor</p>
                                <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                                <p class="Productos-Precio">$ 260.000 x Docena</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li class="Productos-Item">
                    <a href="" class="Productos-Link">
                        <article class="Productos-articulo">
                            <div class="Productos-img">
                                <img src="images/8.jpg" alt="" />
                            </div>
                            <div class="Productos-info">
                                <p class="Productos-Name">Nombre del Producto</p>
                                <p class="Productos-Provedor">Nombre de provedor</p>
                                <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                                <p class="Productos-Precio">$ 260.000 x Docena</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li class="Productos-Item">
                    <a href="" class="Productos-Link">
                        <article class="Productos-articulo">
                            <div class="Productos-img">
                                <img src="images/12.jpg" alt="" />
                            </div>
                            <div class="Productos-info">
                                <p class="Productos-Name">Nombre del Producto</p>
                                <p class="Productos-Provedor">Nombre de provedor</p>
                                <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                                <p class="Productos-Precio">$ 260.000 x Docena</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li class="Productos-Item">
                    <a href="" class="Productos-Link">
                        <article class="Productos-articulo">
                            <div class="Productos-img">
                                <img src="images/7.jpg" alt="" />
                            </div>
                            <div class="Productos-info">
                                <p class="Productos-Name">Nombre del Producto</p>
                                <p class="Productos-Provedor">Nombre de provedor</p>
                                <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                                <p class="Productos-Precio">$ 260.000 x Docena</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li class="Productos-Item">
                    <a href="" class="Productos-Link">
                        <article class="Productos-articulo">
                            <div class="Productos-img">
                                <img src="images/9.jpg" alt="" />
                            </div>
                            <div class="Productos-info">
                                <p class="Productos-Name">Nombre del Producto</p>
                                <p class="Productos-Provedor">Nombre de provedor</p>
                                <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                                <p class="Productos-Precio">$ 260.000 x Docena</p>
                            </div>
                        </article>
                    </a>
                </li>
                <li class="Productos-Item">
                    <a href="" class="Productos-Link">
                        <article class="Productos-articulo">
                            <div class="Productos-img">
                                <img src="images/6.jpg" alt="" />
                            </div>
                            <div class="Productos-info">
                                <p class="Productos-Name">Nombre del Producto</p>
                                <p class="Productos-Provedor">Nombre de provedor</p>
                                <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                                <p class="Productos-Precio">$ 260.000 x Docena</p>
                            </div>
                        </article>
                    </a>
                </li>
            </ul>
        </div>
        <div class="More">
            <a href="/courses/" class="explore-all-btn">Examinar los producto, que tenemos para ti.</a>
            <p class="More-question">¿Listo para concegir lo que necesitas para tu negocio?</p>
            <p class="More-exclamet">¡Lleva tu negocio al siguiente nivel!</p>
            <a href="" class="btn btn-success signup-btn ">Inscribirse</a>
        </div>
    </section>
    <footer class="Footer">
        <ul class="Footer-Info">
            <li>¿Quiénes somos?</li>
            <li>Udemy para negocios </li>
            <li>Conviértete en Instructor </li>
            <li>Alizanzas</li>

        </ul>
        <ul class="Footer-copy">
            <li>Derechos de autor © 2015 Udemy.com</li>
            <li>Términos de Uso</li>
            <li>Política de Privacidad </li>
        </ul>

    </footer>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.catslider.js"></script>
    <script src="/javascripts/modernizr.custom.63321.js"></script>
    <script>
    $(function() {

        $( '#mi-slider' ).catslider();

    });
    </script>
</body>
</html>
