<div class="Categorias-Populares">
    <p class="Categorias-Title">Categorias más Populares</p>
    <ul class="Card-Product">
        <li class="Card-Product-Item">
            <a href="#" class="Card-Product-Link">
                <article class="Productos-Card">
                    <div class="Productos-Card-img">
                        <img src="images/7.jpg" alt="" />
                    </div>
                    <div class="Productos-Card-info">
                        <p class="Productos-Name">Nombre del Producto</p>
                        <p class="Productos-Provedor">Nombre de provedor</p>
                        <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                        <p class="Productos-Precio">$ 260.000 x Docena</p>
                    </div>
                </article>
            </a>
        </li>
        <li class="Card-Product-Item">
            <a href="#" class="Card-Product-Link">
                <article class="Productos-Card">
                    <div class="Productos-Card-img">
                        <img src="images/6.jpg" alt="" />
                    </div>
                    <div class="Productos-Card-info">
                        <p class="Productos-Name">Nombre del Producto</p>
                        <p class="Productos-Provedor">Nombre de provedor</p>
                        <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                        <p class="Productos-Precio">$ 260.000 x Docena</p>
                    </div>
                </article>
            </a>
        </li>
        <li class="Card-Product-Item">
            <a href="#" class="Card-Product-Link">
                <article class="Productos-Card">
                    <div class="Productos-Card-img">
                        <img src="images/12.jpg" alt="" />
                    </div>
                    <div class="Productos-Card-info">
                        <p class="Productos-Name">Nombre del Producto</p>
                        <p class="Productos-Provedor">Nombre de provedor</p>
                        <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                        <p class="Productos-Precio">$ 260.000 x Docena</p>
                    </div>
                </article>
            </a>
        </li>
    </ul>

</div>
<div class="Categorias-Populares">
    <p class="Categorias-Title">Más Vendidos</p>
</div>
<div class="Categorias-VendedoresOro">
    <p class="Categorias-Title">Vendedores Oro</p>
</div>
