
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300);
body {
    font-size: 16px ;
    font-family: 'Roboto', sans-serif;

}
.Menu{
    border-radius: 0;
    margin-bottom: 0;
}
.Menu-right{
    text-align: right;
    display: inline-flex;
    margin: 16px 8px;
}
.jumbotron{
    border-bottom: 5px solid rgb(51, 51, 51);
    background-image: url('/images/Slider-empresas.jpg');
    background-size: cover;
    background-position: center;

}
.jumbotron-Box {
    width: 840px;
    background: rgba(0, 0, 0, 0.85) none repeat scroll 0% 0%;
    padding: 50px 60px;
    margin: auto;
    border-radius: 2px;
    text-align: center;
    z-index: 1;
}
.jumbotron-Box .heading {
    margin: 0px;
    color: #FFF;
    font-size: 35px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1.3px;
    padding-bottom: 15px;
}
.jumbotron-Box .subhead {
    color: #FFF;
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 1;
    font-weight: 300;
}
.search-inp-container {
    padding: 0px 0px 0px 20px;
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 8px 0px 0px 8px;
}
.home-search-btn {
    background: #1376D7 none repeat scroll 0% 0%;
    border: 0px none;
    color: #FFF;
    font-size: 22px;
    border-radius: 0px 8px 8px 0px;
    padding: 0px 20px;
    height: 60px;
}
.fxac {
    display: flex;
    width: 100%;
    align-items: center;
}

.fx {
    flex: 1 1 0%;
    min-width: 1px;
}
.fxjc {
    display: flex;
    width: 100%;
    justify-content: center;
}

.search-inp-container .quick-search {
    border: 0px none;
}
.search-field:focus {
    box-shadow: none;
}
.form-control:focus {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}
.search-field {
    height: 60px;
    font-size: 18px;
    padding: 0px;
    background: transparent none repeat scroll 0px 0px;
    border: 0px none;
}
.features {
    color: #FFF;
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
    opacity: 0.8;
}
.features li:first-child {
    margin-left: 20px;
}
.features li {
    max-width: 180px;
    margin: 0px 30px;
}
.features i {
    margin-right: 20px;
    font-size: 30px;
}
/* <<<--- Slider Promocion --->>> */
.Promocion{
    height: 335px;
}
.Promocion-Title{
    text-align: center;
    position: absolute;
    top: 551px;
    left: 0px;
    right: 0px;
}
.mi-slider {
    position: relative;
    margin-top: 30px;
    height: auto;
}

.mi-slider ul {
    list-style-type: none;
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
    text-align: center;
    pointer-events: none;
}

.no-js .mi-slider ul {
    position: relative;
    left: auto;
    bottom: auto;
    margin: 0;
    overflow: visible;
}

.mi-slider ul.mi-current {
    pointer-events: auto;
}

.mi-slider ul li {
    display: inline-block;
    padding: 20px;
    width: 20%;
    max-width: 300px;
    -webkit-transform: translateX(600%);
    transform: translateX(600%);
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.no-js .mi-slider ul li {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.mi-slider ul li a,
.mi-slider ul li img {
    display: block;
    margin: 20px auto;
}

.mi-slider ul li a {
    outline: none;
    cursor: pointer;
}

.mi-slider ul li img {
    max-width: 100%;
    border: none;
}

.mi-slider ul li h4 {
    display: inline-block;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    padding: 20px 10px 0;
}

.mi-slider ul li:hover {
    opacity: 0.7;
}

.mi-slider-Menu {
    position: relative;
    text-align: center;
    margin: 0px auto;
    top: -65px;
    border-top: 5px solid #333;
    max-width: 100%;
}

.no-js nav {
    display: none;
}

.mi-slider nav a {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 30px 30px 30px 34px;
    position: relative;
    color: #888;
    outline: none;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.mi-slider nav a:hover,
.mi-slider nav a.mi-selected {
    color: #000;
}

.mi-slider nav a.mi-selected:after,
.mi-slider nav a.mi-selected:before {
    content: '';
    position: absolute;
    top: -5px;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.mi-slider nav a.mi-selected:after {
    border-color: transparent;
    border-top-color: #333;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}

.mi-slider nav a.mi-selected:before {
    border-color: transparent;
    border-top-color: #333;
    border-width: 27px;
    left: 50%;
    margin-left: -27px;

}

/* Move classes and animations */

.mi-slider ul:first-child li,
.no-js .mi-slider ul li {
    -webkit-animation: scaleUp 350ms ease-in-out both;
    animation: scaleUp 350ms ease-in-out both;
}

@-webkit-keyframes scaleUp {
    0% { -webkit-transform: translateX(0) scale(0); }
    100% { -webkit-transform: translateX(0) scale(1); }
}

@keyframes scaleUp {
    0% { -webkit-transform: translateX(0) scale(0); transform: translateX(0) scale(0); }
    100% { -webkit-transform: translateX(0) scale(1); transform: translateX(0) scale(1); }
}

.mi-slider ul:first-child li:first-child {
    -webkit-animation-delay: 90ms;
    animation-delay: 90ms;
}

.mi-slider ul:first-child li:nth-child(2) {
    -webkit-animation-delay: 180ms;
    animation-delay: 180ms;
}

.mi-slider ul:first-child li:nth-child(3) {
    -webkit-animation-delay: 270ms;
    animation-delay: 270ms;
}

.mi-slider ul:first-child li:nth-child(4) {
    -webkit-animation-delay: 360ms;
    animation-delay: 360ms;
}

/* moveFromRight */

.mi-slider ul.mi-moveFromRight li {
    -webkit-animation: moveFromRight 350ms ease-in-out both;
    animation: moveFromRight 350ms ease-in-out both;
}

/* moveFromLeft */

.mi-slider ul.mi-moveFromLeft li {
    -webkit-animation: moveFromLeft 350ms ease-in-out both;
    animation: moveFromLeft 350ms ease-in-out both;
}

/* moveToRight */

.mi-slider ul.mi-moveToRight li {
    -webkit-animation: moveToRight 350ms ease-in-out both;
    animation: moveToRight 350ms ease-in-out both;
}

/* moveToLeft */

.mi-slider ul.mi-moveToLeft li {
    -webkit-animation: moveToLeft 350ms ease-in-out both;
    animation: moveToLeft 350ms ease-in-out both;
}

/* Animation Delays */

.mi-slider ul.mi-moveToLeft li:first-child,
.mi-slider ul.mi-moveFromRight li:first-child,
.mi-slider ul.mi-moveToRight li:nth-child(4),
.mi-slider ul.mi-moveFromLeft li:nth-child(4) {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(2),
.mi-slider ul.mi-moveFromRight li:nth-child(2),
.mi-slider ul.mi-moveToRight li:nth-child(3),
.mi-slider ul.mi-moveFromLeft li:nth-child(3) {
    -webkit-animation-delay: 90ms;
    animation-delay: 90ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(3),
.mi-slider ul.mi-moveFromRight li:nth-child(3),
.mi-slider ul.mi-moveToRight li:nth-child(2),
.mi-slider ul.mi-moveFromLeft li:nth-child(2) {
    -webkit-animation-delay: 180ms;
    animation-delay: 180ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(4),
.mi-slider ul.mi-moveFromRight li:nth-child(4),
.mi-slider ul.mi-moveToRight li:first-child,
.mi-slider ul.mi-moveFromLeft li:first-child  {
    -webkit-animation-delay: 270ms;
    animation-delay: 270ms;
}

/* Animations */

@-webkit-keyframes moveFromRight {
    0% { -webkit-transform: translateX(600%); }
    100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveFromLeft {
    0% { -webkit-transform: translateX(-600%); }
    100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveToRight {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(600%); }
}

@-webkit-keyframes moveToLeft {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-600%); }
}

@keyframes moveFromRight {
    0% { -webkit-transform: translateX(600%); transform: translateX(600%); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveFromLeft {
    0% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
    100% { -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes moveToRight {
    0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
    100% { -webkit-transform: translateX(600%); transform: translateX(600%); }
}

@keyframes moveToLeft {
    0% { -webkit-transform: translateX(0%); transform: translateX(0%); }
    100% { -webkit-transform: translateX(-600%); transform: translateX(-600%); }
}

.mi-slider {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Media Queries */
@media screen and (max-width: 910px){
    .mi-slider nav {
        max-width: 90%;
    }
    .mi-slider nav a {
        font-size: 12px;
        padding: 40px 10px 30px 14px;
    }
}

@media screen and (max-width: 740px){
    .mi-slider {
        height: 300px;
    }
    .mi-slider nav {
        top: 220px;
    }
}

@media screen and (max-width: 490px){
    .mi-slider {
        text-align: center;
        height: auto;
    }

    .mi-slider ul {
        position: relative;
        display: inline;
        bottom: auto;
        pointer-events: auto;
    }

    .mi-slider ul li {
        -webkit-animation: none !important;
        animation: none !important;
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
        padding: 10px 3px;
        min-width: 140px;
    }

    .mi-slider nav {
        display: none;
    }
}
/*<<<--- Beneficios --->>>*/
.Beneficios{
    padding:0px 50px 50px 50px;

}
.Beneficios-Title{
    text-align: center;
    margin: 20px 0;
    font-size: 50px;
}
.Beneficios-Item{
    display: flex;
    flex-wrap: wrap;

}
.Beneficios-content{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    width: 300px;
    height: 240px;
    margin: 0 23px;
    justify-content:center;
    padding: 20px;
    border-radius: 10px;
}
.Beneficios-icon{
    font-size: 152px;
    display: block !important;
    margin: 0px auto;
    width: 230px;
    text-align: center;
}
.Beneficios-ifo{
    font-size: large;
    display: block;
    margin: 0px auto;
    width: 230px;
    text-align: center;
}
/*<<<--- Productos --->>>*/

.Productos{
    padding:0px 50px 50px 50px;

}
.Productos-Title{
    text-align: center;
    margin: 20px 0;
    font-size: 50px;
}
.Productos-lista{
    display: flex;
    flex-wrap: wrap;

}
.Productos-Item{
    margin: 10px 6px;
    list-style: none;
}
.Productos-Link{
    text-decoration: none;
}
.Productos-Link:hover{
    text-decoration: none;
    opacity: 0.5;
}
.Productos-articulo{
    background-color: white;
    border-radius: 3px;
    -webkit-box-shadow: 1px 0px 4px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 0px 4px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 0px 4px 0px rgba(50, 50, 50, 0.75);
}
.Productos-img{
    padding: 20px;

}
.Productos-info{
    padding: 20px;
    background-color: blanchedalmond;
}
.Productos-Name{
    font-size: 18px;
    color: #16222D;
    display: block;
    line-height: 1.2em;
    font-weight: 400;
}
.Productos-Provedor{
    margin-top: 5px;
    font-size: 14px;
    color: #8190A1;
    display: block;;
}
.Productos-Precio{
    font-size: 20px;
    color: #54B551;
    font-weight: 500;
    text-align: right;
}
.explore-all-btn{
    background: #4985B8 none repeat scroll 0% 0%;
    display: block;
    font-size: 28px;
    text-align: center;
    color: #FFF;
    padding: 20px;
    font-weight: 700;
}
.More{
    padding: 0px 0 40px 0;
    text-align: center;
}
.More-question{
    margin: 0px;
    font-size: 48px;
}
.More-exclamet{
    margin: 10px 0px 0px;
    font-size: 24px;
}
.signup-btn {
    padding: 16px 52px;
    font-size: 20px;
}
/* <<<--- Footer Index --->>> */
.Footer{
    background-color: #424242;

}

/* <<<--- Productos Categorias --->>> */
.Content{
    display: flex;
    width: 100%;
}
.Content-Left{
    display: flex;
    flex-direction: column;
    transition: margin-left 0.2s ease 0s;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    background-color: #FFF;
    width: 240px;
}
.Content-Right{
    overflow: hidden;
    flex: 1 1 0%;
    min-width: 1px;
    padding: 20px 40px;
}
.Categorias-Title{
    font-size: 1.5em;
    text-align: left;
}
.Card-Product{
    display: flex;
    width: 100%;
}
.Card-Product-Item{
    width: 270px;
    margin: 20px;
    vertical-align: top;
    list-style: none;
    white-space: normal;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.Card-Product-Link{
    background: #FFF none repeat scroll 0% 0%;
    color: #353535;
    display: block;
    font-size: small;
    overflow: hidden;
    text-decoration: none;

}
.Card-Product-Link:hover{
    text-decoration: none;
    opacity: 0.5;
}
.Productos-Card-img img{
    width: 100%;
    opacity: 1;
}
.Productos-Card-info{
    padding: 10px 20px;
    background-color: #ccc;
}
