<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
</head>
<body ng-app="appNecxo">
    <nav class="navbar navbar-inverse Menu">
        <div class="container-fluid">
            <div class="navbar-header col-md-5">
                <a class="navbar-brand" href="#">
                    <i class="cats-icon icon-reorder"></i>
                    Explorar los productos
                </a>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="col-md-3">
                <p>Logo App-Provedores</p>
            </div>
            <div class="col-md-a">
                <p class="Menu-right"><a href="#" class="navbar-link">Conviértete en Provedor</a></p>
                <p class="Menu-right"><a href="#" class="navbar-link">Inicio de sesión</a></p>
                <p class="Menu-right"><a href="#" class="navbar-link">Regístrate</a></p>
            </div>
        </div>
    </div>
</nav>
<div class="Content">
    <div class="Content-Left">
        <div class="Categoria">
            <nav class="Categoria-Menu">
                <ul>
                    <li>Agricultura y Alimentación</li>
                    <li>Ropa,Textil y Accesorios</li>
                    <li>Automóviles y Transporte</li>
                    <li>Bolsos, Calzado y Accesorios</li>
                    <li>Electrónica</li>
                    <li>Equipamiento Electrónico, Componentes y Telecomunicaciones</li>
                    <li>Juguetes, Regalos y Juguetes</li>
                    <li>Salud y Belleza</li>
                    <li>Hogar, Iluminación y Construcción</li>
                    <li>Máquinaria, Partes Industriales y Herramientas</li>
                    <li>Metalurgia, Quimicos, Gomas y Plásticos</li>
                    <li>Embalaje, Publicitarios y Oficina</li>
                </ul>
            </nav>

        </div>
    </div>
    <div class="Content-Right">
        <div class="Categorias-Populares">
            <p class="Categorias-Title">Categorias más Populares</p>
        </div>
        <div class="Categorias-Populares">
            <p class="Categorias-Title">Más Vendidos</p>
        </div>
        <div class="Categorias-VendedoresOro">
            <p class="Categorias-Title">Vendedores Oro</p>
        </div>
    </div>
</div>
</body>
</html>
