<nav class="navbar navbar-inverse Menu">
    <div class="container-fluid">
        <div class="navbar-header col-md-5">
            <a class="navbar-brand" href="#">
                <i class="cats-icon icon-reorder"></i>
                Explorar los productos
            </a>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-md-3">
            <p>Logo App-Provedores</p>
        </div>
        <div class="col-md-a">
            <p class="Menu-right"><a href="#" class="navbar-link">Conviértete en Provedor</a></p>
            <p class="Menu-right"><a href="#" class="navbar-link">Inicio de sesión</a></p>
            <p class="Menu-right"><a href="#" class="navbar-link">Regístrate</a></p>
        </div>
    </div>
</div>
</nav>
<div class="Content">
<div class="Content-Left">
    <div class="Categoria">
        <nav class="Categoria-Menu">
            <ul>
                <li><a href="">Agricultura y Alimentación</a></li>
                <li><a href="">Ropa,Textil y Accesorios</a></li>
                <li><a href="">Automóviles y Transporte</a></li>
                <li><a href="">Bolsos, Calzado y Accesorios</a></li>
                <li><a href="">Electrónica</a></li>
                <li><a href="">Equipamiento Electrónico, Componentes y Telecomunicaciones</a></li>
                <li><a href="">Juguetes, Regalos y Juguetes</a></li>
                <li><a href="">Salud y Belleza</a></li>
                <li><a href="">Hogar, Iluminación y Construcción</a></li>
                <li><a href="">Máquinaria, Partes Industriales y Herramientas</a> </li>
                <li><a href="">Metalurgia, Quimicos, Gomas y Plásticos</a></li>
                <li><a href="">Embalaje, Publicitarios y Oficina</a></li>
            </ul>
        </nav>

    </div>
</div>
<div class="Content-Right">
    <div class="Categorias-Populares">
        <p class="Categorias-Title">Categorias más Populares</p>
        <ul class="Card-Product">
            <li class="Card-Product-Item">
                <a href="#" class="Card-Product-Link">
                    <article class="Productos-Card">
                        <div class="Productos-Card-img">
                            <img src="images/7.jpg" alt="" />
                        </div>
                        <div class="Productos-Card-info">
                            <p class="Productos-Name">Nombre del Producto</p>
                            <p class="Productos-Provedor">Nombre de provedor</p>
                            <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                            <p class="Productos-Precio">$ 260.000 x Docena</p>
                        </div>
                    </article>
                </a>
            </li>
            <li class="Card-Product-Item">
                <a href="#" class="Card-Product-Link">
                    <article class="Productos-Card">
                        <div class="Productos-Card-img">
                            <img src="images/7.jpg" alt="" />
                        </div>
                        <div class="Productos-Card-info">
                            <p class="Productos-Name">Nombre del Producto</p>
                            <p class="Productos-Provedor">Nombre de provedor</p>
                            <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                            <p class="Productos-Precio">$ 260.000 x Docena</p>
                        </div>
                    </article>
                </a>
            </li>
            <li class="Card-Product-Item">
                <a href="#" class="Card-Product-Link">
                    <article class="Productos-Card">
                        <div class="Productos-Card-img">
                            <img src="images/7.jpg" alt="" />
                        </div>
                        <div class="Productos-Card-info">
                            <p class="Productos-Name">Nombre del Producto</p>
                            <p class="Productos-Provedor">Nombre de provedor</p>
                            <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                            <p class="Productos-Precio">$ 260.000 x Docena</p>
                        </div>
                    </article>
                </a>
            </li>
            <li class="Card-Product-Item">
                <a href="#" class="Card-Product-Link">
                    <article class="Productos-Card">
                        <div class="Productos-Card-img">
                            <img src="images/7.jpg" alt="" />
                        </div>
                        <div class="Productos-Card-info">
                            <p class="Productos-Name">Nombre del Producto</p>
                            <p class="Productos-Provedor">Nombre de provedor</p>
                            <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                            <p class="Productos-Precio">$ 260.000 x Docena</p>
                        </div>
                    </article>
                </a>
            </li>
            <li class="Card-Product-Item">
                <a href="#" class="Card-Product-Link">
                    <article class="Productos-Card">
                        <div class="Productos-Card-img">
                            <img src="images/7.jpg" alt="" />
                        </div>
                        <div class="Productos-Card-info">
                            <p class="Productos-Name">Nombre del Producto</p>
                            <p class="Productos-Provedor">Nombre de provedor</p>
                            <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                            <p class="Productos-Precio">$ 260.000 x Docena</p>
                        </div>
                    </article>
                </a>
            </li>
            <li class="Card-Product-Item">
                <a href="#" class="Card-Product-Link">
                    <article class="Productos-Card">
                        <div class="Productos-Card-img">
                            <img src="images/6.jpg" alt="" />
                        </div>
                        <div class="Productos-Card-info">
                            <p class="Productos-Name">Nombre del Producto</p>
                            <p class="Productos-Provedor">Nombre de provedor</p>
                            <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                            <p class="Productos-Precio">$ 260.000 x Docena</p>
                        </div>
                    </article>
                </a>
            </li>
            <li class="Card-Product-Item">
                <a href="#" class="Card-Product-Link">
                    <article class="Productos-Card">
                        <div class="Productos-Card-img">
                            <img src="images/12.jpg" alt="" />
                        </div>
                        <div class="Productos-Card-info">
                            <p class="Productos-Name">Nombre del Producto</p>
                            <p class="Productos-Provedor">Nombre de provedor</p>
                            <p class="Productos-Cantidad"> 1000 Disponiblres</p>
                            <p class="Productos-Precio">$ 260.000 x Docena</p>
                        </div>
                    </article>
                </a>
            </li>
        </ul>

    </div>
    <div class="Categorias-Populares">
        <p class="Categorias-Title">Más Vendidos</p>
    </div>
    <div class="Categorias-VendedoresOro">
        <p class="Categorias-Title">Vendedores Oro</p>
    </div>
</div>
</div>
